/* HERO */
.hero {
    background: linear-gradient(to bottom right, #FAAF6E, #F85F5B);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero .swift-birds {
    background-image: url("/images/swift.svg");
    background-size: 300px 300px;
    position: absolute;
    top: -50px;
    left: 0;
    height: calc(100% + 50px);
    width: 100%;
    opacity: 0.066;
}

.hero .content {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.hero .content .profile-picture {
    position: relative;
}

.hero .content .profile-picture .instagram-count {
    position: absolute;
    top: 30px;
    left: 115px;
    background: white;
    color: black;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #000000;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
}

.hero .content .profile-picture .triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid #000000;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 40px;
    left: 106px;
}

.hero .content .profile-picture .triangle-two {
    border-top: 7px solid transparent;
    border-right: 9px solid #ffffff;
    border-bottom: 7px solid transparent;
    z-index: 1;
    top: 41px;
    left: 107px;
    width: 0;
    height: 0;
    position: absolute;
}

.hero .content .profile-picture .loader,
.hero .content .profile-picture .loader:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.hero .content .profile-picture .loader {
    margin: 0 auto;
    font-size: 0;
    position: relative;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #f76755;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hero .content .profile-picture img {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin-bottom: 20px;
}

.hero .hero-title {
    font-size: 32px;
    font-weight: 600;
    z-index: 100;
}

.hero .hero-title .cursive {
    font-family: cursive;
    font-weight: 100;
}

/* PROJECTS */

.project-list {
    min-height: 500px;
    background-color: #ffffff;
    padding: 30px 0 45px;
}

.project-list h2 {
    padding-bottom: 30px;
}

.project-list .project {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 10px 5px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 45px;
    transition: box-shadow .2s ease-in-out;
}

.project-list .project .project-link {
    width: 100%;
    height: 100%;
    position: absolute;
}

.project-list .project .project-image,
.project-list .project .project-text {
    height: 125px;
}

.project-list .project .project-text {
    padding: 15px;
}

.project-list .project .project-kind {
    height: 30px;
    width: 60px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    margin-top: -12px;
    font-weight: 900;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3px;
}

.project-list .project .project-kind.ios {
    background: linear-gradient(to bottom right, #FAAF6E, #F85F5B);
}

.project-list .project .project-kind.web {
    background: linear-gradient(to bottom right, #43C4FC, #DF43F6);
}

.project-list .project .project-text h3 {
    font-size: 24px;
    color: #404040;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.project-list .project .project-text h4 {
    font-size: 18px;
    color: #A0A0A0;
}

/* 
** SCREEN SIZES
*/
@media screen and (min-width: 768px) {
    /* HERO */
    .hero .hero-title {
        font-size: 48px;
    }

    /* PROJECTS */
    .project-list {
        display: flex;
        flex-flow: column;
    }

    .project-list .project-wrapper .project {
        margin: 0 20px 45px 20px;
    }

    .project-list .project-wrapper .project:hover {
        box-shadow: rgb(0, 0, 0, 0.1) 0px 10px 15px 8px;
    }

    .project-list .project-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .project-list .project-wrapper .project {
        margin: 0 45px 45px 45px;
    }
}
