.project {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.project h3 {
    font-size: 1.25rem;
    font-weight: 300;
}

.project.red {
    background: linear-gradient(to bottom right, #FB3B6A, #FF4045);
}

.project.graphit {
    background: linear-gradient(to bottom right, #004E65, #002635);
}

.project.orange {
    background: linear-gradient(to bottom right, #FF994C, #FC5958);
}

.project.peach {
    background: linear-gradient(to bottom right, #F46978, #F9B98E);
}

.project.violet {
  background: linear-gradient(to bottom right, #e754f9, #0477da);
}


/** Image Frame **/

@media screen and (min-width: 576px) {
    .project {
        text-align: left;
    }
    
    .project .left {
        justify-content: center;
        display: flex;
        flex-flow: column;
    }
    
    .project .left a {
        align-self: baseline;
    }
}