/* For Footer */
html {
  position: relative;
  min-height: 100%;
}
html body {
  padding-bottom: 60px;
}

body {
	font-family: Lato !important;
	color: #ffffff;
}

div.quote {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  margin: 15px 0;
}

.icon.icon-white {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
