:root {
    --ml-primary-text-color: #e20067;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.text-ml-red {
    color: #e20067;
}

.navigation {
    background: rgb(255,133,49);
    background: linear-gradient(to bottom, #e20067, #fb6a6a);
}

.navigation a {
    color: var(--ml-primary-text-color);
    border: none;
    margin-right: 2px;
}

.navigation a:last-child {
    margin: 0;
}

.navigation a:hover, .navigation a.active {
    background-color: var(--ml-primary-text-color);
    color: #ffffff;
}

.navigation .btn-group {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.container {
    max-width: 920px;
}

.article {
    border-radius: 12px;
    padding: 15px 20px;
    overflow-wrap: break-word;
}

.article a {
    text-decoration: none;
    color: var(--bs-body-color);
}

.article a:hover h1 {
    color: var(--ml-primary-text-color);
}

.article code {
    font-size: var(--bs-body-font-size);
}

.article a.share {
    background-color: var(--ml-primary-text-color);
    padding: 5px 8px;
    border-radius: 8px;
}

.article a.share:hover {
    filter: brightness(120%);
}

.c-card {
    border-radius: 12px;
    padding: 15px 20px;
}

.ml-button {
    background-color: var(--ml-primary-text-color);
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
}

.ml-button:hover {
    background-color: var(--ml-primary-text-color);
    filter: brightness(120%);
}

a.ml-link {
    color: var(--ml-primary-text-color);
    text-decoration: none;
}

a.ml-link:hover {
    color: var(--ml-primary-text-color);
    filter: brightness(120%);
}

.sponsor {
    border: 3px solid var(--ml-primary-text-color);
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
}

.sponsor img {
    max-width: 200px;
    max-height: 50px;
}
