:root {
    --ml-primary-text-color: #05A88f;
    --ml-primary-text-emphasis: #34CCAD;
    --ml-primary-bg-subtle: #0D322A;
    --ml-primary-border-subtle: #2AA88E;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.text-ml-primary {
    color: var(--ml-primary-text-color);
}

.navigation {
    background: rgb(255,133,49);
    background: linear-gradient(to top, #0ed180, #008f97)
}

.navigation a {
    color: var(--ml-primary-text-color);
    border: none;
    margin-right: 2px;
}

.navigation a:last-child {
    margin: 0;
}

.navigation a:hover, .navigation a.active {
    background-color: var(--ml-primary-text-color);
    color: #ffffff;
}

.navigation .btn-group {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.container {
    max-width: 920px;
}

a.article {
    border-radius: 12px;
    padding: 15px 20px;
    overflow-wrap: break-word;
}

a.article {
    text-decoration: none;
    color: var(--bs-body-color);
    border: 1px solid transparent;
}

a.article:hover {
    border: 1px solid var(--ml-primary-text-color);
}

a.article:hover h1 {
    color: var(--ml-primary-text-color);
    filter: brightness(120%)
}

.article code {
    font-size: var(--bs-body-font-size);
}

.article a.share {
    background-color: var(--ml-primary-text-color);
    padding: 5px 8px;
    border-radius: 8px;
}

.article a.share:hover {
    filter: brightness(120%);
}

.c-card {
    border-radius: 12px;
    padding: 15px 20px;
}

.ml-button {
    background-color: var(--ml-primary-text-color);
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
}

.ml-button:hover {
    background-color: var(--ml-primary-text-color);
    filter: brightness(120%);
}

a.ml-link {
    color: var(--ml-primary-text-color);
    text-decoration: none;
}

a.ml-link:hover {
    color: var(--ml-primary-text-color);
    filter: brightness(120%);
}

.sponsor {
    border: 3px solid var(--ml-primary-text-color);
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
}

.sponsor img {
    max-width: 200px;
    max-height: 50px;
}

.alert.alert-primary {
    --bs-alert-color: var(--ml-primary-text-emphasis);
    --bs-alert-bg: var(--ml-primary-bg-subtle);
    --bs-alert-border-color: var(--ml-primary-border-subtle);
    --bs-alert-link-color: var(--ml-primary-text-emphasis);
}

/* ARTICLE - IMAGE */

.article .image img {
    border-radius: 12px;
}
