body {
  overflow-x: hidden;
  padding-top: 95px;
}

nav.navbar {
  padding: 0 1rem 5px 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar .container {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #eeeeee;
  padding: 10px;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #ffffff00;
}

.navbar .menu {
  font-weight: 300;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: none;
}

.navbar a.navbar-brand:hover {
  background: none;
  color: #eeeeee;
  border-bottom: 1px solid #ffffff00;
}

.navbar a:hover,
.navbar a.active {
  border-bottom: 1px solid #ffffff;
}

@media screen and (min-width: 376px) {
  body {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {

  .navbar .container {
    display: flex;
    justify-content: space-between;
  }
}