body {
  overflow-x: hidden;
}

nav.navbar {
  background-color: #1b2938;
}

.navbar .container {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #eeeeee;
  padding: 10px 15px;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: none;
}

.navbar a.navbar-brand:hover {
  background: none;
  color: #eeeeee;
  border: none;
}

.navbar a:hover,
.navbar a.active {
  border-bottom: 2px solid #0184ea;
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
  }
}