/* Icons (Feather) */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* Icons (Linea Basic) */
/* no worries about webstorn not resolving the path */
@font-face {
  font-family: "linea-basic-10";
  src:url("/icons/lineabasic/linea-basic-10.eot");
  src:url("/icons/lineabasic/linea-basic-10.eot?#iefix") format("embedded-opentype"),
  url("/icons/lineabasic/linea-basic-10.woff") format("woff"),
  url("/icons/lineabasic/linea-basic-10.ttf") format("truetype"),
  url("/icons/lineabasic/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient-blue {
  background: linear-gradient(335deg, #0184ea, #00e5d3) no-repeat;
}

.bg-gradient-blue * {
  color: #ffffff;
}

/* TEXT */
/********/

.text-gradient-blue {
  background: linear-gradient(335deg, #0184ea, #00e5d3) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MARGIN */
/**********/

.m-t-15 {
  margin-top: 15px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-90 {
  margin-top: 90px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-90 {
  margin-bottom: 90px;
}

/* MARGIN */
/**********/

.p-top-60 {
  padding-top: 60px;
}

.p-bottom-60 {
  padding-bottom: 60px;
}

/* BORDER */
/**********/

.b-radius-5 {
  border-radius: 5px;
}

.b-radius-8 {
  border-radius: 8px;
}

.b-radius-10 {
  border-radius: 10px;
}

.b-color-w {
  border: 1px solid #ffffff;
}

/* FONT */
/**********/

.f-w-300 {
  font-weight: 300;
}

.f-style-italic {
  font-style: italic;
}

/* HEIGHT */
/**********/
.height-100-p {
  height: 100%;
}

.height-550 {
  height: 550px;
}

/* HEIGHT */
/**********/
.w-200 {
  width: 200px;
}
